## PROJ - Template
## Template for creating a page for a product (given 4 letter ID and directory)

<h1>%%ID%%</h1>
^^%%ID%%-PHOTO.jpg^^<img src="%%ID%%-PHOTO.jpg" width="200px" height="*"><br>

**about.name**<b>@@about.name@@</b>
<br>
**about.description**@@about.description@@
<br>
^^%%ID%%-laser-150.png^^<img src="%%ID%%-laser-150.png" width="150px" height="*"><br>
^^%%ID%%-PARTS.jpg^^<img src="%%ID%%-parts.jpg" width="150px" height="*"><br>
^^%%ID%%-EXTRA.jpg^^<img src="%%ID%%-EXTRA.jpg" width="150px" height="*"><br>


