## OOMP -- Template for a picture index

<html>

<head>
	<link rel="stylesheet" type="text/css" href="http://oomlout.com/oomp.css">
</head>
<body>

<div id="oompMain">

@@%%ID%%,oompPart.oompID,name@@
<br>
!!0,oompTag.tagName,tagReadable!! ---> @@%%ID%%,oompPart.oompID,!!0,oompTag.tagName,tagName!!@@
<br>
!!1,oompTag.tagName,tagReadable!! ---> @@%%ID%%,oompPart.oompID,!!1,oompTag.tagName,tagName!!@@
<br>


#	^^0,100,%%U%%^^**%%ID%%,oompPart.oompID,!!%%U%%,oompTag.tagName,tagName!!**  %%U%%    !!%%U%%,oompTag.tagName,tagReadable!! ---> @@%%ID%%,oompPart.oompID,!!%%U%%,oompTag.tagName,tagName!!@@<br>
#	^^0,100,%%U%%^^
#	**%%ID%%,oompPart.oompID,!!%%U%%,oompTag.tagName,tagName!!**
#	  %%U%%    
#	  !!%%U%%,oompTag.tagName,tagReadable!! 
#	  ---> 
#	@@%%ID%%,oompPart.oompID,!!%%U%%,oompTag.tagName,tagName!!@@

	<div class="table">
		<div class="row">
			<div class="cell oompReverseColors">
				!!0,oompType.code,code!!
			</div>
			<div class="cell oompReverseColors">
				!!0,oompType.code,name!!
			</div>
		</div>
		<div class="row">
			<div class="cell">
^^0,800,%%T%%^^++!!%%T%%,oompPart.oompType,oompType!!,!!0,oompType.code,code!!++<div class="oompIndexBox"><a href="http://learn.oomlout.co.uk/OO/Projects/oomp/parts/!!%%T%%,oompPart.oompType,oompID!!"><img src="http://oomlout.com/oomp-gen/parts/!!%%T%%,oompPart.oompType,oompID!!/!!%%T%%,oompPart.oompType,oompID!!_140.jpg" width="87px" height="58px"><br><center><span class="oompSmall">!!%%T%%,oompPart.oompType,hexID!!</span><br><span class="oompIndexLink">!!%%T%%,oompPart.oompType,name!!</span><br><span class="oompSmall">!!%%T%%,oompPart.oompType,oompID!!</span></center></a></div>
			</div>
		</div>
	</div>

	<div class="table">
		<div class="row">
			<div class="cell oompReverseColors">
				!!1,oompType.code,code!!
			</div>
			<div class="cell oompReverseColors">
				!!1,oompType.code,name!!
			</div>
		</div>
		<div class="row">
			<div class="cell">
^^0,800,%%T%%^^++!!%%T%%,oompPart.oompType,oompType!!,!!1,oompType.code,code!!++<div class="oompIndexBox"><a href="http://learn.oomlout.co.uk/OO/Projects/oomp/parts/!!%%T%%,oompPart.oompType,oompID!!"><img src="http://oomlout.com/oomp-gen/parts/!!%%T%%,oompPart.oompType,oompID!!/!!%%T%%,oompPart.oompType,oompID!!_140.jpg"><br><center><span class="oompSmall">!!%%T%%,oompPart.oompType,hexID!!</span></center></a></div>
			</div>
		</div>
	</div>	
	

	<div class="table">
		<div class="row">
			<div class="cell oompReverseColors">
				!!2,oompType.code,code!!
			</div>
			<div class="cell oompReverseColors">
				!!2,oompType.code,name!!
			</div>
		</div>
		<div class="row">
			<div class="cell">
^^0,800,%%T%%^^++!!%%T%%,oompPart.oompType,oompType!!,!!2,oompType.code,code!!++<div class="oompIndexBox"><a href="http://learn.oomlout.co.uk/OO/Projects/oomp/parts/!!%%T%%,oompPart.oompType,oompID!!"><img src="http://oomlout.com/oomp-gen/parts/!!%%T%%,oompPart.oompType,oompID!!/!!%%T%%,oompPart.oompType,oompID!!_140.jpg" width="87px" height="58px"><br><center><span class="oompSmall">!!%%T%%,oompPart.oompType,hexID!!</span><br><span class="oompIndexLink">!!%%T%%,oompPart.oompType,name!!</span><span class="oompSmall">!!%%T%%,oompPart.oompType,oompID!!</span></center></a></div>
			</div>
		</div>
	</div>	



	
	
	
	
	
</div>

</body>
</html>