<html>
<div id="oompMain">
			@@navigation,oompBasic.type,value@@
</html>
__NOTOC__
=@@%%ID%%,oompProject.oompID,name@@ - @@%%ID%%,oompProject.oompID,hexID@@=
<div style="text-align: center;">
<span class="plainlinks">[http://oomlout.com/oomlout-OOMP/projects/%%ID%%/%%ID%%_1500.jpg http://oomlout.com/oomlout-OOMP/projects/%%ID%%/%%ID%%_420.jpg]</span><br>
</div>
==Summary==
Name: <b>@@%%ID%%,oompProject.oompID,name@@</b><br>
ID: <b>@@%%ID%%,oompProject.oompID,oompID@@</b><br>
Hex ID: <b>@@%%ID%%,oompProject.oompID,hexID@@</b><br>
Official WebPage: <b>@@%%ID%%,oompProject.oompID,oompOfficialLink@@</b><br>
Short URL: <b>http://oom.lt/@@%%ID%%,oompProject.oompID,hexID@@</b><br>
Revision History: <b>[https://github.com/oomlout/oomlout-OOMP/tree/master/projects/%%ID%% GitHub]</b><br>
==Images==
<center>
$$%%ID%%.jpg$$<span class="plainlinks">[http://oomlout.com/oomlout-OOMP/projects/%%ID%%/%%ID%%_1500.jpg http://oomlout.com/oomlout-OOMP/projects/%%ID%%/%%ID%%_140.jpg]</span>
$$%%ID%%_RE.jpg$$<span class="plainlinks">[http://oomlout.com/oomlout-OOMP/projects/%%ID%%/%%ID%%_1500_RE.jpg http://oomlout.com/oomlout-OOMP/projects/%%ID%%/%%ID%%_RE_140.jpg]</span>
$$%%ID%%_BOTTOM.jpg$$<span class="plainlinks">[http://oomlout.com/oomlout-OOMP/projects/%%ID%%/%%ID%%_1500_BOTTOM.jpg http://oomlout.com/oomlout-OOMP/projects/%%ID%%/%%ID%%_BOTTOM_140.jpg]</span>
$$%%ID%%_TOP.jpg$$<span class="plainlinks">[http://oomlout.com/oomlout-OOMP/projects/%%ID%%/%%ID%%_1500_TOP.jpg http://oomlout.com/oomlout-OOMP/projects/%%ID%%/%%ID%%_TOP_140.jpg]</span>
$$%%ID%%_01.jpg$$<span class="plainlinks">[http://oomlout.com/oomlout-OOMP/projects/%%ID%%/%%ID%%_1500_01.jpg http://oomlout.com/oomlout-OOMP/projects/%%ID%%/%%ID%%_01_140.jpg]</span>
$$%%ID%%_02.jpg$$<span class="plainlinks">[http://oomlout.com/oomlout-OOMP/projects/%%ID%%/%%ID%%_1500_02.jpg http://oomlout.com/oomlout-OOMP/projects/%%ID%%/%%ID%%_02_140.jpg]</span>
$$%%ID%%_ISO.png$$<span class="plainlinks">[http://oomlout.com/oomlout-OOMP/projects/%%ID%%/%%ID%%_1500_ISO.png http://oomlout.com/oomlout-OOMP/projects/%%ID%%/%%ID%%_ISO_140.png]</span>
</center>

==About==
@@%%ID%%,oompProject.oompID,oompAbout@@
<<,@@%%ID%%,oompProject.oompID,oompAbout@@,This part is awaiting a description.<<

==Specifications==
<center>
{| class="wikitable"
|-
| <div style="text-align: center;"><b>Info</b></div>
| <div style="text-align: center;"><b>Value</b></div>
|-
::::
^^10,500,%%U%%^^
**%%ID%%,oompProject.oompID,!!%%U%%,oompTag.tagName,tagName!!**
>>,!!%%U%%,oompTag.tagName,tagReadable!!,
~~|-
~~| !!%%U%%,oompTag.tagName,tagReadable!!
~~| <b>@@%%ID%%,oompProject.oompID,!!%%U%%,oompTag.tagName,tagName!!@@</b> >>
;;;;
|}
</center>
==Diagram==
<center>
<span class="plainlinks">[http://oomlout.com/oomlout-OOMP/projects/%%ID%%/%%ID%%-diag_1500.png http://oomlout.com/oomlout-OOMP/projects/%%ID%%/%%ID%%-diag_420.png]</span><br>
<b>[http://oomlout.com/oomlout-OOMP/projects/%%ID%%/%%ID%%-diag.svg (svg)]
&nbsp;&nbsp;&nbsp;
[http://oomlout.com/oomlout-OOMP/projects/%%ID%%/%%ID%%-diag.cdr (cdr)]
&nbsp;&nbsp;&nbsp;
[http://oomlout.com/oomlout-OOMP/projects/%%ID%%/%%ID%%-diag_1500.png (png)]
&nbsp;&nbsp;&nbsp;
[http://oomlout.com/oomlout-OOMP/projects/%%ID%%/%%ID%%-diag_S.pdf (pdf)]</b>
</center>

==Parts==
<center>
<span class="plainlinks">[http://oomlout.com/oomlout-OOMP/projects/%%ID%%/%%ID%%-iden_1500.png http://oomlout.com/oomlout-OOMP/projects/%%ID%%/%%ID%%-iden_420.png]</span><br>
<b>[http://oomlout.com/oomlout-OOMP/projects/%%ID%%/%%ID%%-iden.svg (svg)]
&nbsp;&nbsp;&nbsp;
[http://oomlout.com/oomlout-OOMP/projects/%%ID%%/%%ID%%-iden.cdr (cdr)]
&nbsp;&nbsp;&nbsp;
[http://oomlout.com/oomlout-OOMP/projects/%%ID%%/%%ID%%-iden_1500.png (png)]
&nbsp;&nbsp;&nbsp;
[http://oomlout.com/oomlout-OOMP/projects/%%ID%%/%%ID%%-iden_S.pdf (pdf)]</b>

{| class="wikitable"
~~|-
~~| <b><div style="text-align: center;">Image</div></b>
~~| <b><div style="text-align: center;">Iden-<br>tifier</div></b>
~~| <b><div style="text-align: center;">OOMP ID</div></b>
~~| <b><div style="text-align: center;">Name</div></b>
~~| <b><div style="text-align: center;">Purpose</div></b>
::::
^^0,200,%%T%%^^
**%%ID%%,oompProject.oompID,componentList.component.compIndex&&%%T%%&&**
~~|-
~~| <div style="text-align: center;">[http://learn.oomlout.co.uk/OO/Projects/oomp/part/@@%%ID%%,oompProject.oompID,componentList.component.compID&&%%T%%&&@@ http://www.oomlout.com/oomlout-OOMP/parts/@@%%ID%%,oompProject.oompID,componentList.component.compID&&%%T%%&&@@/@@%%ID%%,oompProject.oompID,componentList.component.compID&&%%T%%&&@@_140.jpg]</div>
~~| <div style="text-align: center;">[http://learn.oomlout.co.uk/OO/Projects/oomp/part/@@%%ID%%,oompProject.oompID,componentList.component.compID&&%%T%%&&@@ @@%%ID%%,oompProject.oompID,componentList.component.compIden&&%%T%%&&@@]</div>
~~| <div style="text-align: center;">[http://learn.oomlout.co.uk/OO/Projects/oomp/part/@@%%ID%%,oompProject.oompID,componentList.component.compID&&%%T%%&&@@ @@%%ID%%,oompProject.oompID,componentList.component.compID&&%%T%%&&@@<br><b>@3@2%%ID%%,oompProject.oompID,componentList.component.compID&&%%T%%&&@2,oompPart.oompID,hexID@3</b>]</div>
~~| <div style="text-align: center;">[http://learn.oomlout.co.uk/OO/Projects/oomp/part/@@%%ID%%,oompProject.oompID,componentList.component.compID&&%%T%%&&@@ @3@2%%ID%%,oompProject.oompID,componentList.component.compID&&%%T%%&&@2,oompPart.oompID,name@3]</div>
~~| <div style="text-align: center;">@@%%ID%%,oompProject.oompID,componentList.component.compWhy&&%%T%%&&@@</div>
;;;;
|}
</center>
==Source Files==
Source files for this project. (hosted externally)
::::
^^0,20,%%T%%^^
**%%ID%%,oompProject.oompID,sourceList.source.sourceType&&%%T%%&&**<b>[@@%%ID%%,oompProject.oompID,sourceList.source.sourceLink&&%%T%%&&@@ @@%%ID%%,oompProject.oompID,sourceList.source.sourceType&&%%T%%&&@@]</b> @@%%ID%%,oompProject.oompID,sourceList.source.sourceFormat&&%%T%%&&@@<br>
;;;;

==Distributors==
**%%ID%%,oompProject.oompID,sourceList.bigDistributor.companyCode&&0&&**Curated links to known good supplies of this part. For greater variety and packaging options, use 'Distributor Search' links in the 'Manufacturers' section.
<center>
**%%ID%%,oompProject.oompID,sourceList.bigDistributor.companyCode&&0&&**{| class="wikitable"
**%%ID%%,oompProject.oompID,sourceList.bigDistributor.companyCode&&0&&**|-
**%%ID%%,oompProject.oompID,sourceList.bigDistributor.companyCode&&0&&**| <b><div style="text-align: center;">Distributor</div></b>
**%%ID%%,oompProject.oompID,sourceList.bigDistributor.companyCode&&0&&**| <b><div style="text-align: center;">Part Number</div></b>
**%%ID%%,oompProject.oompID,sourceList.bigDistributor.companyCode&&0&&**| <b><div style="text-align: center;">Description</div></b>
::::
^^0,20,%%T%%^^**%%ID%%,oompProject.oompID,sourceList.bigDistributor.companyCode&&%%T%%&&**
~~|-
~~| @@%%ID%%,oompProject.oompID,sourceList.bigDistributor.company&&%%T%%&&@@
~~| <div style="text-align: center;"><b>[@@%%ID%%,oompProject.oompID,sourceList.bigDistributor.link&&%%T%%&&@@ @@%%ID%%,oompProject.oompID,sourceList.bigDistributor.partID&&%%T%%&&@@]</b></div>
~~| @@%%ID%%,oompProject.oompID,sourceList.bigDistributor.name&&%%T%%&&@@
;;;;
**%%ID%%,oompProject.oompID,sourceList.bigDistributor.companyCode&&0&&**|}
<<,@@%%ID%%,oompProject.oompID,sourceList.bigDistributor.companyCode&&0&&@@,No distributors yet.<<
</center>
==OPL Libraries==
<center>
{| class="wikitable"
~~|-
~~| <b><div style="text-align: center;">OPL Scheme</div></b>
~~| <b><div style="text-align: center;">Part Number</div></b>
~~| <b><div style="text-align: center;">Description</div></b>
::::
^^0,12,%%T%%^^
**%%ID%%,oompProject.oompID,oplList.oplSystem.oplCode&&%%T%%&&**
~~|-
~~| @@%%ID%%,oompProject.oompID,oplList.oplSystem.oplScheme&&%%T%%&&@@
~~| <div style="text-align: center;"><b>[@@%%ID%%,oompProject.oompID,oplList.oplSystem.oplLink&&%%T%%&&@@ @@%%ID%%,oompProject.oompID,oplList.oplSystem.oplID&&%%T%%&&@@]</b></div>
~~| @@%%ID%%,oompProject.oompID,oplList.oplSystem.oplName&&%%T%%&&@@
;;;;
|}
</center>

@@bottomText,oompBasic.type,value@@
<html>
</div>
</html>			