## OOMP -- Template for a picture index

<html>


<div id="oompMain">

@@navigation,oompBasic.type,value@@

<h1>Families: </h1>
</html>
__FORCETOC__
		Within the OOMP ID system there are also families of components. These are common components available in either a variety of colours or values.<br>Each family shares four common elements, either:<br>
			<center><b>TYPE - SIZE - COLOR - INDEX</b></center>
			<br>(ex.<br>
			<center><b>CRHO-I01-B-###-01</b> - 2.54mm XX Pin Black Crimp Housing 
			<br><b> RESE-W04-X-###-01</b> - 1/4 Watt XXXX Ohm Resistor</center><br>
			Or:<br>
			<center><b>TYPE - SIZE - DESCRIPTION - INDEX</b></center>
			<br>(ex. 
			<br><center><b>LEDS-10-#-FROS-01</b> - 10 mm Frosted XXX LED 
			<br><b>WIRS-G28-#-STAN-01</b> - 28 AWG XXX Stranded Wire</center>
			<br><br>
		Each family of components is assigned either a two or three charachter hexadecimal name space, then the following one to three charachters are used to describe the individual components value.<br>
(ex.<br><center><b>CRHO-I01-B</b> 
<br>Namespace: <b>DA##</b> 
<br>
<b>CRHO-I01-B-04PI-01</b> 2.54mm 4 Pin Black Crimp Housing HEX: <b>DA04</b><br>
<b>CRHO-I01-B-08PI-01</b> 2.54mm 8 Pin Black Crimp Housing HEX: <b>DA08</b><br>
<b>CRHO-I01-B-10PI-01</b> 2.54mm 10 Pin Black Crimp Housing HEX: <b>DA0A</b><br>
<b>RESE-W04-X</b><br>Namespace: <b>AE###</b>
<br>
<b>RESE-W04-X-O561-01</b> 1/4 Watt 560 Ohm Resistor HEX: <b>AE561</b>
<br>
<b>RESE-W04-X-O103-01</b> 1/4 Watt 10 k Ohm Resistor HEX: <b>AE103</b>
</center>
<br>
::::
^^0,100,%%U%%^^
==%%U%%,oompFamily.familyName,familyName==
<h1>!!%%U%%,oompFamily.familyName,familyName!! - !!%%U%%,oompFamily.familyName,familyHexNameSpaceDisplay!!&nbsp;&nbsp;&nbsp;</h1>
<center>
~~~~{| class="wikitable"
~~|-
~~|<div style="text-align: center;"><b>Type</b><br>!!%%U%%,oompFamily.familyName,familyType!!&nbsp;<br>@@!!%%U%%,oompFamily.familyName,familyType!!,oompType.code,name@@&nbsp;</div>
~~|<div style="text-align: center;"><b>Size</b><br>!!%%U%%,oompFamily.familyName,familySize!!&nbsp;<br>@@!!%%U%%,oompFamily.familyName,familySize!!,oompSize.code,name@@&nbsp;</div>
~~|<div style="text-align: center;"><b>Color</b><br>!!%%U%%,oompFamily.familyName,familyColor!!&nbsp;<br>@@!!%%U%%,oompFamily.familyName,familyColor!!,oompColor.code,name@@&nbsp;</div>
~~|<div style="text-align: center;"><b>Desc</b><br>!!%%U%%,oompFamily.familyName,familyDesc!!&nbsp;<br>@@!!%%U%%,oompFamily.familyName,familyDesc!!,oompDesc.code,name@@&nbsp;</div>
~~|<div style="text-align: center;"><b>Index</b><br>!!%%U%%,oompFamily.familyName,familyIndex!!&nbsp;<br>@@!!%%U%%,oompFamily.familyName,familyIndex!!,oompIndex.code,name@@&nbsp;</div>
~~|}
</center>
~~!!%%U%%,oompFamily.familyName,familyAbout!!<br>
<center>
~~{| class="wikitable"
~~|-
~~|&nbsp;
~~|<b><div style="text-align: center;">Value</div></b>
~~|<b><div style="text-align: center;">ID<br>Hex ID</div></b>
~~|<b><div style="text-align: center;">Name</div></b>
~~^^0,300,%%T%%^^
??inFamily,!!%%T%%,oompPart.oompID,oompID!!,!!%%U%%,oompFamily.name,familyName!!??
~~|-
~~|<div style="text-align: center;">[http://learn.oomlout.co.uk/OO/Projects/oomp/part/!!%%T%%,oompPart.oompID,oompID!! http://www.oomlout.com/oomlout-OOMP/parts/!!%%T%%,oompPart.oompID,oompID!!/!!%%T%%,oompPart.oompID,oompID!!_87.jpg]</div>
~~|<div style="text-align: center;"><b>[http://learn.oomlout.co.uk/OO/Projects/oomp/part/!!%%T%%,oompPart.oompID,oompID!! <<!!%%U%%,oompFamily.familyType,familyType!!,,@@!!%%T%%,oompPart.oompType,oompType!!,oompType.code,name@@<< <<!!%%U%%,oompFamily.familySize,familySize!!,,@@!!%%T%%,oompPart.oompSize,oompSize!!,oompSize.code,name@@<< <<!!%%U%%,oompFamily.familyColor,familyColor!!,,@@!!%%T%%,oompPart.oompColor,oompColor!!,oompColor.code,name@@<< <<!!%%U%%,oompFamily.familyDesc,familyDesc!!,,@@!!%%T%%,oompPart.oompDesc,oompDesc!!,oompDesc.code,name@@<<  <<!!%%U%%,oompFamily.familyIndex,familyIndex!!,,@@!!%%T%%,oompPart.oompIndex,oompIndex!!,oompIndex.code,name@@<<]</b></div>
~~|<div style="text-align: center;">[http://learn.oomlout.co.uk/OO/Projects/oomp/part/!!%%T%%,oompPart.oompID,oompID!! !!%%T%%,oompPart.oompID,oompID!!<br><b>!!%%T%%,oompPart.oompID,hexID!!</b>]</div>
~~|<div style="text-align: center;"><b>[http://learn.oomlout.co.uk/OO/Projects/oomp/part/!!%%T%%,oompPart.oompID,oompID!! !!%%T%%,oompPart.oompID,name!!]</b></div>
~~""
~~|}
~~~~~~
</center>""
;;;;

@@bottomText,oompBasic.type,value@@

<html>
</div>
</html>