<html>
<head>
</head>
<body>
@@navigation,oompBasic.type,value@@
<div id="oompMain">

	<div id="oompAllPartContainer" class="table" >
		<div class="row reverseColor">
			<div id="oompAPPartID" class="cell"><center>Part ID</center></div>
			<div id="oompAPName"class="cell"><center>Name</center></div>
			<div id="oompAPHexCode"class="cell"><center>Hex<br>Code</center></div>
		</div>
^^0,10,%%U%%^^**!!%%U%%,oompPart.oompID!!**					AAAAAA
	</div>
#^^10,45,%%U%%^^**%%ID%%,oompPart.oompID,!!%%U%%,oompTag.tagName,tagName!!**			
</div>
</body>
</html>