<html>
<div id="oompMain">
@@navigation,oompBasic.type,value@@
<h1>OOMP ID Codes Explained</h1>
</html>
Each components OOMP ID is designed to contain a codified description. More details on the basics of the system can be found here. Below is a detailed list of all used Types, Sizes, Colors, Descriptions, and Indexes. 

<html>
<center>
<b>TYPE - SIZE - COLOR - DESCRIPTION - INDEX</b><br>
ex.<br>
RESE-W04-X-O561-01<br>
1/4 Watt 560 Ohm Resistor
</center>
</html>

{| class="wikitable"
|-
! .:Type:.
! .:Size:.
! .:Color:.
! .:Description:.
! .:Index:.
^^0,3000,%%U%%^^|-~~| ''' !!%%U%%,oompType.code,code!!'''<br>!!%%U%%,oompType.code,name!!~~| ''' !!%%U%%,oompSize.code,code,code!!'''<br>!!%%U%%,oompSize.code,name!!~~| ''' !!%%U%%,oompColor.code,code!!'''<br>!!%%U%%,oompColor.code,name!!~~| ''' !!%%U%%,oompDesc.code,code!!'''<br>!!%%U%%,oompDesc.code,name!!~~| ''' !!%%U%%,oompIndex.code,code!!'''<br>!!%%U%%,oompIndex.code,name!!
|}




<html>
</div>
</html>