<html>
<div id="oompMain">
@@navigation,oompBasic.type,value@@
<h1>OOMP ID Codes Explained</h1>
</html>
Each components OOMP ID is designed to contain a codified description. More details on the basics of the system can be found here. Below is a detailed list of all used Types, Sizes, Colors, Descriptions, and Indexes. 

<html>
<center>
Code: <b>TYPE - SIZE - COLOR - DESCRIPTION - INDEX</b><br>
Name: <b>SIZE DESCRIPTION COLOR TYPE INDEX</b><br>
ex.<br>
RESE-W04-X-O561-01<br>
1/4 Watt 560 Ohm Resistor
</center>
</html>
<center>
{| class="wikitable"
|-
!Type
!Size
!Color
!Description
!Index
::::
^^0,3000,%%U%%^^
==%%U%%,oompDesc.code,code==
~~|-
~~|<div style="text-align: center;"><b>!!%%U%%,oompType.code,code!!</b><br>!!%%U%%,oompType.code,name!!</div>
~~|<div style="text-align: center;"><b>!!%%U%%,oompSize.code,code,code!!</b><br>!!%%U%%,oompSize.code,name!!</div>
~~|<div style="text-align: center;"><b>!!%%U%%,oompColor.code,code!!</b><br>!!%%U%%,oompColor.code,name!!</div>
~~|<div style="text-align: center;"><b>!!%%U%%,oompDesc.code,code!!</b><br>!!%%U%%,oompDesc.code,name!!</div>
~~|<div style="text-align: center;"><b>!!%%U%%,oompIndex.code,code!!</b><br>!!%%U%%,oompIndex.code,name!!</div>
;;;;
|}
</center>
@@bottomText,oompBasic.type,value@@
<html>
</div>
</html>