<html>
<head>
</head>
<body>
@@navigation,oompBasic.type,value@@
<div id="oompMain">
</html>
		
#^^0,500,%%U%%^^==%%U%%,oompPart.oompID,oompID==<div class="row"><div class="oompAPPartID wordwrap cell oompSmall"><center><b><a href="http://learn.oomlout.co.uk/OO/Projects/oomp/part/!!%%U%%,oompPart.oompID,oompID!!">!!%%U%%,oompPart.oompID,oompID!!</a></b></center></div><div class="oompAPName wordwrap cell"><a href="http://learn.oomlout.co.uk/OO/Projects/oomp/part/!!%%U%%,oompPart.oompID,oompID!!">!!%%U%%,oompPart.oompID,name!!</a></div><div class="oompAPHexCode wordwrap cell"><b><center><a href="http://learn.oomlout.co.uk/OO/Projects/oomp/part/!!%%U%%,oompPart.oompID,oompID!!">!!%%U%%,oompPart.oompID,hexID!!</a></center></b></div></div>

	
	
	
	
{| class="wikitable"
|-
| <center><b>.:Part ID:.</b></center>
| <center><b>.:Name:.</b></center>
| <center><b>.:Hex<br>Code:.</b></center>
^^0,500,%%U%%^^==%%U%%,oompPart.oompID,oompID==|-~~|<center><b>[http://learn.oomlout.co.uk/OO/Projects/oomp/part/!!%%U%%,oompPart.oompID,oompID!! !!%%U%%,oompPart.oompID,oompID!!]</b></center>~~|[http://learn.oomlout.co.uk/OO/Projects/oomp/part/!!%%U%%,oompPart.oompID,oompID!! !!%%U%%,oompPart.oompID,name!!]~~|<center><b>[http://learn.oomlout.co.uk/OO/Projects/oomp/part/!!%%U%%,oompPart.oompID,oompID!! !!%%U%%,oompPart.oompID,hexID!!]</b></center>

|}	
	
	
	
	
	
	
	
	
	
<html>	
	</div>	
</html>
