## OOMP -- Template for projects index
__FORCETOC__
<html>


<div id="oompMain">

@@navigation,oompBasic.type,value@@
<h1> OOMP Project Index </h1>
</html>

Below is a list of OOMP documented projects.
	<br><br>
<center>
~~{| class="wikitable"~~|-
~~| <div style="text-align: center;"></div>
~~| <div style="text-align: center;"><div style="text-align: center;"><b>ID</b></div></div>
~~| <div style="text-align: center;"><div style="text-align: center;"><b>Name</b></div></div>
::::
~~^^0,300,%%T%%^^
**!!%%T%%,oompProject.oompID,oompID!!,oompProject.oompID,oompID**
~~|-
~~|<div style="text-align: center;">[http://learn.oomlout.co.uk/OO/Projects/oomp/projects/!!%%T%%,oompProject.oompID,oompID!! http://oomlout.com/oomlout-OOMP/projects/!!%%T%%,oompProject.oompID,oompID!!/!!%%T%%,oompProject.oompID,oompID!!_87.jpg]</div>
~~|<div style="text-align: center;">[http://learn.oomlout.co.uk/OO/Projects/oomp/projects/!!%%T%%,oompProject.oompType,oompID!! !!%%T%%,oompProject.oompType,oompID!!]<br><b>[http://learn.oomlout.co.uk/OO/Projects/oomp/projects/!!%%T%%,oompProject.oompType,oompID!! !!%%T%%,oompProject.oompType,hexID!!]</b></div>
~~|<div style="text-align: center;">[http://learn.oomlout.co.uk/OO/Projects/oomp/projects/!!%%T%%,oompProject.oompType,oompID!! @@!!%%T%%,oompProject.oompID,oompID!!,oompProject.oompID,name@@]</div>
;;;;
~~|}
</center>

@@bottomText,oompBasic.type,value@@

