<html>
<head>
</head>
<body>
@@navigation,oompBasic.type,value@@
<div id="oompMain">
</html>
		
=Resource Check=
A table showing what part has what resource.
	
{| class="wikitable"
|-
| <center><b>.:Part ID:.</b></center>
| <center><b>.:Name:.</b></center>
| <center><b>.:Hex<br>Code:.</b></center>
| <center><b>Image</b></center>
| <center><b>Reference<br>Image</b></center>
| <center><b>Bottom<br>Image</b></center>
| <center><b>Image 01</b></center>
| <center><b>Image 02</b></center>
| <center><b>About</b></center>
| <center><b>Common Use</b></center>
| <center><b>Datasheet</b></center>
| <center><b>Breadboard<br>Diagram</b></center>
| <center><b>Schematic</b></center>
| <center><b>Distributors</b></center>
| <center><b>Manufacturers</b></center>
| <center><b>OPL</b></center>

::::^^0,200,%%U%%^^
==%%U%%,oompPart.oompID,oompID==
~~|-
~~|<center><b>[http://learn.oomlout.co.uk/OO/Projects/oomp/part/!!%%U%%,oompPart.oompID,oompID!! !!%%U%%,oompPart.oompID,oompID!!]</b></center>
~~|[http://learn.oomlout.co.uk/OO/Projects/oomp/part/!!%%U%%,oompPart.oompID,oompID!! !!%%U%%,oompPart.oompID,name!!]
~~|<center><b>[http://learn.oomlout.co.uk/OO/Projects/oomp/part/!!%%U%%,oompPart.oompID,oompID!! !!%%U%%,oompPart.oompID,hexID!!]</b></center>
~~|<b>(*!!%%U%%,oompPart.oompID,oompID!!/!!%%U%%,oompPart.oompID,oompID!!.jpg,,XXX(*</b>
~~|<b>(*!!%%U%%,oompPart.oompID,oompID!!/!!%%U%%,oompPart.oompID,oompID!!_RE.jpg,,XXX(*</b>
~~|<b>(*!!%%U%%,oompPart.oompID,oompID!!/!!%%U%%,oompPart.oompID,oompID!!_BOTTOM.jpg,,XXX(*</b>
~~|<b>(*!!%%U%%,oompPart.oompID,oompID!!/!!%%U%%,oompPart.oompID,oompID!!_01.jpg,,XXX(*</b>
~~|<b>(*!!%%U%%,oompPart.oompID,oompID!!/!!%%U%%,oompPart.oompID,oompID!!_02.jpg,,XXX(*</b>
~~|<b><<!!%%U%%,oompPart.oompID,oompAbout!!,,XXX<< </b>
~~|<b> <<@@!!%%U%%,oompPart.oompID,oompID!!,oompPart.oompID,usageList.useItem.useTitle&&0&&@@,,XXX<< </b>
~~|<b>(*!!%%U%%,oompPart.oompID,oompID!!/!!%%U%%,oompPart.oompID,oompID!!-datasheet.pdf,,XXX(*</b>
~~|<b>(*!!%%U%%,oompPart.oompID,oompID!!/!!%%U%%,oompPart.oompID,oompID!!-bbls.cdr,,XXX(*</b>
~~|<b>(*!!%%U%%,oompPart.oompID,oompID!!/!!%%U%%,oompPart.oompID,oompID!!-schem.cdr,,XXX(*</b>
~~|<b> <<@@!!%%U%%,oompPart.oompID,oompID!!,oompPart.oompID,sourceList.bigDistributor.companyCode&&0&&@@,,XXX<< </b>
~~|<b> <<@@!!%%U%%,oompPart.oompID,oompID!!,oompPart.oompID,sourceList.manufacturer.companyCode&&0&&@@,,XXX<< </b>
~~|<b> <<@@!!%%U%%,oompPart.oompID,oompID!!,oompPart.oompID,oplList.oplSystem.oplCode&&0&&@@,,XXX<< </b>



~~
;;;;
|}	
@@bottomText,oompBasic.type,value@@
<html>	
	</div>	
</html>
