<html>
<div id="oompMain">
			@@navigation,oompBasic.type,value@@
</html>

=@@%%ID%%,oompPart.oompID,name@@=

==Summary==
Name: <b>@@%%ID%%,oompPart.oompID,name@@</b><br>
ID: <b>@@%%ID%%,oompPart.oompID,oompID@@</b><br>
Hex ID: <b>@@%%ID%%,oompPart.oompID,hexID@@</b><br>
WebPage: <b>http://learn.oomlout.co.uk/OO/Projects/oomp/part/%%ID%%</b><br>
Short URL: <b>http://oom.lt/@@%%ID%%,oompPart.oompID,hexID@@</b><br>
{| class="wikitable"
|+ DETAILS
|-
| .:Type:. 
| .:Size:. 
| .:Color:.
| .:Description:.
| .:Index:.
|-
| <b>@@%%ID%%,oompPart.oompID,oompType@@<br></b>@@@1%%ID%%,oompPart.oompID,oompType@1,oompType.code,name@@
| <b>@@%%ID%%,oompPart.oompID,oompSize@@<br></b>@@@1%%ID%%,oompPart.oompID,oompSize@1,oompSize.code,name@@
| <b>@@%%ID%%,oompPart.oompID,oompColor@@<br></b>@@@1%%ID%%,oompPart.oompID,oompColor@1,oompColor.code,name@@
| <b>@@%%ID%%,oompPart.oompID,oompDesc@@<br></b>@@@1%%ID%%,oompPart.oompID,oompDesc@1,oompDesc.code,name@@
| <b>@@%%ID%%,oompPart.oompID,oompIndex@@<br></b>@@@1%%ID%%,oompPart.oompID,oompIndex@1,oompIndex.code,name@@
|}


==Images==
<span class="plainlinks">[http://oomlout.com/oomp-gen/parts/%%ID%%/%%ID%%.jpg http://oomlout.com/oomp-gen/parts/%%ID%%/%%ID%%_420.jpg]</span><br>
$$%%ID%%_RE.jpg$$<span class="plainlinks">[http://oomlout.com/oomp-gen/parts/%%ID%%/%%ID%%_RE.jpg http://oomlout.com/oomp-gen/parts/%%ID%%/%%ID%%_RE_140.jpg]</span>
$$%%ID%%_01.jpg$$<span class="plainlinks">[http://oomlout.com/oomp-gen/parts/%%ID%%/%%ID%%_01.jpg http://oomlout.com/oomp-gen/parts/%%ID%%/%%ID%%_01_140.jpg]</span>
$$%%ID%%_02.jpg$$<span class="plainlinks">[http://oomlout.com/oomp-gen/parts/%%ID%%/%%ID%%_02.jpg http://oomlout.com/oomp-gen/parts/%%ID%%/%%ID%%_02_140.jpg]</span>
$$%%ID%%_ISO.png$$<span class="plainlinks">[http://oomlout.com/oomp-gen/parts/%%ID%%/%%ID%%_ISO.png http://oomlout.com/oomp-gen/parts/%%ID%%/%%ID%%_ISO_140.png]</span>
<br>





==About==
@@%%ID%%,oompPart.oompID,oompAbout@@

==Specifications==

{| class="wikitable"
|-
| <b>.:Info:.</b>
| <b>.:Value:. </b>
|-
^^0,500,%%U%%^^**%%ID%%,oompPart.oompID,!!%%U%%,oompTag.tagName,tagName!!** >>,!!%%U%%,oompTag.tagName,tagReadable!!,|-~~| !!%%U%%,oompTag.tagName,tagReadable!!~~| <b>@@%%ID%%,oompPart.oompID,!!%%U%%,oompTag.tagName,tagName!!@@</b> >>
|}

==Resources==

{| class="wikitable"
|-
| <b>.:Datasheet:.<br>[http://learn.oomlout.co.uk/OO/Projects/oomp/resources#Basic ?]</b>
| <b>.:Images:.<br>[http://learn.oomlout.co.uk/OO/Projects/oomp/resources#Images ?] </b>
| <b>.:PCB:.<br>[http://learn.oomlout.co.uk/OO/Projects/oomp/resources ?] </b>
| <b>.:Diagram:.<br>[http://learn.oomlout.co.uk/OO/Projects/oomp/resources#Diagram ?] </b>
| <b>.:3D:.<br>[http://learn.oomlout.co.uk/OO/Projects/oomp/resources#3D ?] </b>
| <b>.:Labels:.<br>[http://learn.oomlout.co.uk/OO/Projects/oomp/resources#Label ?] </b>
|-
| Manufacturer's<br>([http://oomlout.com/oomp-gen/parts/%%ID%%/%%ID%%-datasheet.pdf pdf])<br><br>XML Metadata<br>([http://oomlout.com/oomp-gen/parts/%%ID%%/%%ID%%.oomp .oomp])&nbsp;&nbsp;([https://github.com/oomlout/oomp-gen/blob/master/parts/%%ID%%/%%ID%%.omp github])	<br><br>All Files<br>([http://oomlout.com/oomp-gen/parts/%%ID%%/%%ID%%.zip zip])
| High Resolution<br>([https://www.flickr.com/search/?w=33504192@N00&q=%%ID%% flickr])
| Complete OOMP<br>Footprint<br>Library<br>(COMING SOON)
$$%%ID%%-schem.png$$ | Breadboard<br>Diagram<br><html><a href="http://oomlout.com/oomp-gen/parts/%%ID%%/%%ID%%-bbls.png"><img src="http://oomlout.com/oomp-gen/parts/%%ID%%/%%ID%%-bbls_90.png"></a></html><br>([http://oomlout.com/oomp-gen/parts/%%ID%%/%%ID%%-bbls.svg svg])&nbsp;([http://oomlout.com/oomp-gen/parts/%%ID%%/%%ID%%-bbls.cdr cdr])<br>([http://oomlout.com/oomp-gen/parts/%%ID%%/%%ID%%-bbls.png png])&nbsp;([http://oomlout.com/oomp-gen/parts/%%ID%%/%%ID%%-bbls.pdf pdf])<br><br>Schematic<br>Diagram<br><html><a href="http://oomlout.com/oomp-gen/parts/%%ID%%/%%ID%%-schem.png"><img src="http://oomlout.com/oomp-gen/parts/%%ID%%/%%ID%%-schem_90.png"></a></html><br>([http://oomlout.com/oomp-gen/parts/%%ID%%/%%ID%%-schem.svg svg])&nbsp;([http://oomlout.com/oomp-gen/parts/%%ID%%/%%ID%%-schem.cdr cdr])<br>([http://oomlout.com/oomp-gen/parts/%%ID%%/%%ID%%-schem.png png])&nbsp;([http://oomlout.com/oomp-gen/parts/%%ID%%/%%ID%%-schem.pdf pdf])
$$%%ID%%.skp$$| 3D Model<br><html><a href="http://oomlout.com/oomp-gen/parts/%%ID%%/%%ID%%-3d.png"><img width="90" height="*" src="http://oomlout.com/oomp-gen/parts/%%ID%%/%%ID%%-3d_140.png"></a></html><br>([http://oomlout.com/oomp-gen/parts/%%ID%%/%%ID%%.skp skp])&nbsp;([http://oomlout.com/oomp-gen/parts/%%ID%%/%%ID%%-3d.png png])
| Specifications<br>([http://oomlout.com/oomp-gen/parts/%%ID%%/%%ID%%-label-back.pdf pdf])&nbsp;([http://oomlout.com/oomp-gen/parts/%%ID%%/%%ID%%-label-back.svg svg])<br><br>Retail<br>([http://oomlout.com/oomp-gen/parts/%%ID%%/%%ID%%-label-front.pdf pdf])&nbsp;([http://oomlout.com/oomp-gen/parts/%%ID%%/%%ID%%-label-front.svg svg])<br><br>Inventory<br>([http://oomlout.com/oomp-gen/parts/%%ID%%/%%ID%%-label-inventory.pdf pdf])&nbsp;([http://oomlout.com/oomp-gen/parts/%%ID%%/%%ID%%-label-inventory.svg svg])
|}

==Distributors==
{| class="wikitable"
|-
| <b>.:Distributor:.</b>
| <b>.:Part Number:. </b>
^^0,12,%%T%%^^**%%ID%%,oompPart.oompID,sourceList.bigDistributor.companyCode&&%%T%%&&**|-~~| @8@2%%ID%%,oompPart.oompID,sourceList.bigDistributor.companyCode&&%%T%%&&@2,oompSupplier.supplierCode,supplierName@8~~| [@8@2%%ID%%,oompPart.oompID,sourceList.bigDistributor.companyCode&&%%T%%&&@2,oompSupplier.supplierCode,supplierSearchString@8@3%%ID%%,oompPart.oompID,sourceList.bigDistributor.partID&&%%T%%&&@3@8@2%%ID%%,oompPart.oompID,sourceList.bigDistributor.companyCode&&%%T%%&&@2,oompSupplier.supplierCode,supplierSearchEnd@8 @3%%ID%%,oompPart.oompID,sourceList.bigDistributor.partID&&%%T%%&&@3]~~
|}


==Manufacturers==
{| class="wikitable"
|-
| <b>.:Manufacturer:.</b>
| <b>.:Part Number:. </b>
^^0,12,%%T%%^^**%%ID%%,oompPart.oompID,sourceList.manufacturer.company&&%%T%%&&**|-~~| @@%%ID%%,oompPart.oompID,sourceList.manufacturer.company&&%%T%%&&@@~~| @3%%ID%%,oompPart.oompID,sourceList.manufacturer.partID&&%%T%%&&@3~~
|}


==OPL Libraries==



@@bottomText,oompBasic.type,value@@


<html>
</div>
</html>			