<html>
	<head>
	<title>@@%%ID%%,oompPart.oompID,name@@ Datasheet Redirect</title>
<STYLE type="text/css">
	a 			   {text-decoration: none;}
	a img          { border: 0px; }
	a:hover img    {border: 0px; }
	a:visited img  {border: 0px; }
.pageType	   { color: #999999; font: 225%/1.4 Arial, Verdana, Helvetica, Sans-Serif; font-weight: bold; text-align: left; line-height: 1.75em; }
.smalloomlout  {color: #999999; font: 80%/1.4 Arial, Verdana, Helvetica, Sans-Serif; font-weight: bold;  line-height: 1.75em;}
 </STYLE>
<meta http-equiv="REFRESH" content="2;url=https://github.com/oomlout/oomlout-OOMP/raw/master/parts/%%ID%%/%%ID%%-datasheet.pdf">
</HEAD>
<BODY>
<br>
<br>
<br>
  <center>
  <a href="https://github.com/oomlout/oomlout-OOMP/raw/master/parts/%%ID%%/%%ID%%-datasheet.pdf">
  <span class="pageType">
    .: currently being redirected to :. <br> .: @@%%ID%%,oompPart.oompID,name@@ Datasheet:.
  </span>
  <br>
  <span class="smalloomlout">
    (don't want to wait? click below)
  </span>
  <br>
(*%%ID%%.jpg,<img src="http://www.oomlout.com/oomlout-OOMP/parts/%%ID%%/%%ID%%_420.jpg">,<img src="http://www.oomlout.com/oomlout-OOMP/parts/OOMP-logo-awaitingImage_420.jpg">(*
  </a>
  </center>
</BODY>
</HTML>

</html>
	
