<html>
@@%%ID%%,oompProject.oompID,oompID@@<br>
@@%%ID%%,oompProject.oompID,name@@<br><br>


<table>
<tr>
<td>
Designators
</td>
<td>
Part ID
</td>
<td>
Name
</td>
</tr>




^^0,50,%%T%%^^<tr><td>@@%%ID%%,oompProject.oompID,componentList.component.compIden&&%%T%%&&@@&nbsp;&nbsp;</td><td>@@%%ID%%,oompProject.oompID,componentList.component.compID&&%%T%%&&@@&nbsp;&nbsp;</td><td>@2@1%%ID%%,oompProject.oompID,componentList.component.compID&&%%T%%&&@1,oompPart.oompID,name@2&nbsp;&nbsp;</td></tr>

</table>
<html>
</div>
</html>			