## PROJ - Template
## Template for creating a page for a product (given 4 letter ID and directory)
## To Run this
#python %TPGEdirectory%TPGEmain.py -id CRHO-I01-B-02PI-01 -bd C:\KB\oomp-scripts\oomp-gen\parts\ -xa .oomp -ex C:\KB\oomp-scripts\oomp-gen\parts\ -tm template/TEST-template.tmpl.html -of TEST.html

@@%%ID%%,oompPart.oompID,name@@
<br>
!!0,oompTag.tagName,tagReadable!! ---> @@%%ID%%,oompPart.oompID,!!0,oompTag.tagName,tagName!!@@
<br>
!!1,oompTag.tagName,tagReadable!! ---> @@%%ID%%,oompPart.oompID,!!1,oompTag.tagName,tagName!!@@
<br>

++ooo,ooo++INclude<br>
++ooo,oo++Don'tINclude<br>

#	^^0,100,%%U%%^^**%%ID%%,oompPart.oompID,!!%%U%%,oompTag.tagName,tagName!!**  %%U%%    !!%%U%%,oompTag.tagName,tagReadable!! ---> @@%%ID%%,oompPart.oompID,!!%%U%%,oompTag.tagName,tagName!!@@<br>
#	^^0,100,%%U%%^^
#	**%%ID%%,oompPart.oompID,!!%%U%%,oompTag.tagName,tagName!!**
#	  %%U%%    
#	  !!%%U%%,oompTag.tagName,tagReadable!! 
#	  ---> 
#	@@%%ID%%,oompPart.oompID,!!%%U%%,oompTag.tagName,tagName!!@@

^^0,100,%%U%%^^**%%U%%,oompType.code,code**%%U%% ----> !!%%U%%,oompType.code,code!! ------ !!%%U%%,oompType.code,name!!<br>
<br><br><br><br>
^^0,100,%%T%%^^++!!%%T%%,oompPart.oompType,oompType!!,CRHO++!!%%T%%,oompPart.oompType,oompID!!<br>


!!0,oompTag.tagName,tagName!! 
<br>
!!1,oompTag.tagName,tagName!! 
<br>
!!989,oompTag.tagName,tagName!! 