<html>
<div id="oompMain">
			<table>
			<tr>
				<td height="100px" width="700px" class="oompReverseColors">
				<center><b>.:OOMP Navigation:.</b><br>
				<a href="http://oomlout.com/oom.php/oomp/"><span  class="oompLink">.:Index:.</span></a>
				&#160;&#160;&#160;&#160;&#160;&#160;
				<a href="http://oomlout.com/oom.php/oomp/familyindex"><span  class="oompLink">.:Families:.</span></a>
				&#160;&#160;&#160;&#160;&#160;&#160;
				<a href="http://oomlout.com/oom.php/oomp/index"><span  class="oompLink">.:All Parts:.</span></a>
				<br>

				<center><b>.:About OOMP:.</b><br>
				<a href="http://oomlout.com/oom.php/oomp/idexplained"><span  class="oompLink">.:ID Described:.</span></a>
				&#160;&#160;&#160;&#160;&#160;&#160;
				<a href="http://oomlout.com/oom.php/oomp/idcode"><span  class="oompLink">.:ID Codes:.</span></a>
				&#160;&#160;&#160;&#160;&#160;&#160;
				<a href="http://oomlout.com/oom.php/oomp/tagindex"><span  class="oompLink">.:Tags Described:.</span></a>
				<br>

				</center>
				
				</td>
			</tr>
		</table>	
				<br>&#160;
		<table><tr><td>
			<table>
				<tr>
					<td width="420px">
<!--Begin image area-->
						<table>
							<tr>
								<td colspan="3">
									<a id="oompImageLink" href="%image01full">
$$%%ID%%.jpg$$						<img id="oompImage" src="http://oomlout.com/oomp-gen/parts/%%ID%%/%%ID%%_420.jpg" width="420px" height="280">
									</a>
								</td>
							</tr>
							<tr>
$$%%ID%%.jpg$$					<td width="140px">
$$%%ID%%.jpg$$					<a href='#' onclick='document.getElementById("oompImage").src="http://oomlout.com/oomp-gen/parts/%%ID%%/%%ID%%_420.jpg";document.getElementById("oompImageLink").href="http://oomlout.com/oomp-gen/parts/%%ID%%/%%ID%%_420.jpg"; return false;' >
$$%%ID%%.jpg$$						<img src="http://oomlout.com/oomp-gen/parts/%%ID%%/%%ID%%_140.jpg" width="140px" height="94">
$$%%ID%%.jpg$$					</a>
$$%%ID%%.jpg$$					</td>
$$%%ID%%_RE.jpg$$				<td width="140px">
$$%%ID%%_RE.jpg$$					<a href='#' onclick='document.getElementById("oompImage").src="http://oomlout.com/oomp-gen/parts/%%ID%%/%%ID%%_RE_420.jpg";document.getElementById("oompImageLink").href="http://oomlout.com/oomp-gen/parts/%%ID%%/%%ID%%_RE_420.jpg"; return false;' >
$$%%ID%%_RE.jpg$$						<img src="http://oomlout.com/oomp-gen/parts/%%ID%%/%%ID%%_RE_140.jpg" width="140px" height="94">
$$%%ID%%_RE.jpg$$					</a>								
$$%%ID%%_RE.jpg$$				</td>
$$%%ID%%_01.jpg$$				<td width="140px">
$$%%ID%%_01.jpg$$					<a href='#' onclick='document.getElementById("oompImage").src="http://oomlout.com/oomp-gen/parts/%%ID%%/%%ID%%_01_420.jpg";document.getElementById("oompImageLink").href="http://oomlout.com/oomp-gen/parts/%%ID%%/%%ID%%_01_420.jpg"; return false;' >
$$%%ID%%_01.jpg$$						<img src="http://oomlout.com/oomp-gen/parts/%%ID%%/%%ID%%_01_140.jpg" width="140px" height="94">
$$%%ID%%_01.jpg$$					</a>
$$%%ID%%_01.jpg$$				</td>
							</tr>							
						</table>	
<!--End image area-->
					</td>
					<td width="280px">
						
							<div class="oompNameHolder oompReverseColors">
							<center><span class="oompDescText wordwrap">@@%%ID%%,oompPart.oompID,name@@</span></center>
							</div>
							<div id="oompDetailHolder">
					
											<div class="oompDetail1">
												<span class="oompNameText">@@oompType,oompTag.tagName,tagReadable@@</span><br><span class="oompValueText">@@@1%%ID%%,oompPart.oompID,oompType@1,oompType.code,name@@</span>									
											</div>
											<div class="oompDetail1">
												<span class="oompNameText">@@oompSize,oompTag.tagName,tagReadable@@</span><br><span class="oompValueText">@@@1%%ID%%,oompPart.oompID,oompSize@1,oompSize.code,name@@</span>									
											</div>		
											&nbsp;

											<div class="oompDetail1">
												<span class="oompNameText">@@oompColor,oompTag.tagName,tagReadable@@</span><br><span class="oompValueText">@@@1%%ID%%,oompPart.oompID,oompColor@1,oompColor.code,name@@</span>									
											</div>
											<div class="oompDetail1">
												<span class="oompNameText">@@oompDesc,oompTag.tagName,tagReadable@@</span><br><span class="oompValueText">@@@1%%ID%%,oompPart.oompID,oompDesc@1,oompDesc.code,name@@</span>									
											</div>												
^^10,45,%%U%%^^**%%ID%%,oompPart.oompID,!!%%U%%,oompTag.tagName,tagName!!**								<div class="oompDetail1"><span class="oompNameText">!!%%U%%,oompTag.tagName,tagReadable!!</span><br><span class="oompValueText">@@%%ID%%,oompPart.oompID,!!%%U%%,oompTag.tagName,tagName!!@@</span></div>		
							</div>
							<div class="oompNameHolder">
									<center>
									.:shortlink:.<br>
									<a href="http://oom.lt/@@%%ID%%,oompPart.oompID,hexID@@"><span  class="oompLink">http://oom.lt/<b>@@%%ID%%,oompPart.oompID,hexID@@</b></span></a>
									<br>
									.:OOMP ID:.<br>
									<a href="http://oom.lt/@@%%ID%%,oompPart.oompID,hexID@@"><span  class="oompLink"><b>%%ID%%</b></span></a>
									</center>
							</div>
							</td>
							</tr>
						</table>	
					</td>
				</tr>
			</table>
		</td></tr><tr><td>
		<center>
		<table><!--Begin info area-->
			<tr>
				<td class="oompTitle2" width="700px">
					About:
				</td>
			</tr>
			<tr>
				<td class="oompText" width="700px">
					<br>%ooAboutText<br><br>
				</td>
			</tr>
			<tr>
				<td class="oompTitle2" width="700px">
					Projects That Use It:
				</td>
			</tr>
			<tr>
				<td class="oompText" width="700px">
					<br>%ooProjectText<br><br>		
				</td>
			</tr>
			<tr>
				<td class="oompTitle2" width="700px">
					Where To Buy It:
				</td>
			</tr>
			<tr>
				<td class="oompText" width="700px">
					<br>%ooBuyText<br><br>		
				</td>
			</tr>
			<tr>
				<td class="oompTitle2" width="700px">
					Resources:
				</td>
			</tr>
			<tr>
				<td>
				<span class="oompResourceTable">
					<table width="700px">
						<tr class="oompResourceTitle">
						<td  width="117px">
							<center><a href="http://wwwoomlout.com/oom.php/oomp/"><span class="oompResourceTitle">.:Datasheet:.<br>?<br><br></span></a></center>
						</td>
						<td width="117px">
							<center><a href="http://wwwoomlout.com/oom.php/oomp/"><span class="oompResourceTitle">.:Images:.<br>?<br><br></span></a></center>
						</td>
						<td width="117px">
							<center><a href="http://wwwoomlout.com/oom.php/oomp/"><span class="oompResourceTitle">.:PCB:.<br>?<br><br></span></a></center>
						</td>
						<td width="117px">
							<center><a href="http://wwwoomlout.com/oom.php/oomp/"><span class="oompResourceTitle">.:Diagram:.<br>?<br><br></span></a></center>
						</td>
						<td width="117px">
							<center><a href="http://wwwoomlout.com/oom.php/oomp/"><span class="oompResourceTitle">.:3D:.<br>?<br><br></span></a></center>
						</td>
						<td width="117px">
							<center><a href="http://wwwoomlout.com/oom.php/oomp/"><span class="oompResourceTitle">.:Labels:.<br>?<br><br></span></a></center>
						</td>
						</tr>
						<tr class="oompResourceText"> 
						<td style="vertical-align:top">
							<br>
							<center>
							Manufacturer's<br>
							(<a href="%ManufacturerDatasheetPDF">pdf</a>)
							<br><br>
							XML Metadata<br>
							(<a href="%XMLOOMP">oomp</a>)
							<br><br>
							All files<br>
							(<a href="%FilesZIP">zip</a>)
							</center>
						</td>
						<td style="vertical-align:top">
							<br>
							<center>
							Hi-Resolution<br>
							(<a href="%HiResolutionImageSearch">flickr</a>)<br><br>	
							Image Files<br>
							(<a href="%ImagesZIP">zip</a>)<br>						
							</center>
						</td>
						<td style="vertical-align:top">
							<br>
							<center>
							Complete OOMP<br>Footprint<br>Library<br>
							(<a href="%EagleLibraryLink">eagle</a>)<br>
							(<a href="%KiCADLibraryLink">kicad</a>)<br>
							</center>
						</td>
						<td style="vertical-align:top">
							<br>
							<center>
							Breadboard Diagram<br>
							<a href="%BBDiagramPNG">
							<center><img width="90px" height="*" src="%BBDiagramThumb"></center><br>
							</a>
							<br>Schematic Diagram<br>
							<a href="%SCHDiagramPNG">
							<center><img width="90px" height="*" src="%SCHDiagramThumb"></center><br>
							</a>
							</center>
						</td>
						<td style="vertical-align:top">
							<br>
							<center>
							3D Model<br>
							<a href="%3DModelPNG">
							<center><img width="90px" height="*" src="%3DModelThumb"></center><br>
							</a>
							</center>
						</td>
						<td style="vertical-align:top">
							<br>
							<center>
							Specifications<br>
							(<a href="%BackLabelSVG">svg</a>)
							(<a href="%BackLabelPDF">pdf</a>)
							<br><br>
							Retail<br>
							(<a href="%FrontLabelSVG">svg</a>)
							(<a href="%FrontLabelPDF">pdf</a>)
							<br><br>
							Inventory<br>
							(<a href="%InventoryLabelSVG">svg</a>)
							(<a href="%InventoryLabelPDF">pdf</a>)
							<br>
							</center>
						</td>
						</tr>
					</table>		
				</span>
				</td>
			</tr>
			<tr>
				<td class="oompTitle2" width="700px">
					Other Suppliers:
				</td>
			</tr>
			<tr>
				<td>
				<span class="oompResourceTable">
					<table width="700px">
						<tr class="oompResourceTitle">
						<td  width="150px">
							<center><span class="oompResourceTitle">.:Supplier:.</span><br><br></center>
						</td>
						<td width="200px">
							<center><span class="oompResourceTitle">.:Part number:.</span><br><br></center>
						</td>
						<td  width="150px">
							<center><span class="oompResourceTitle">.:Supplier:.</span><br><br></center>
						</td>
						<td width="200px">
							<center><span class="oompResourceTitle">.:Part number:.</span><br><br></center>
						</td>
						</tr>
	
					</table>		
				</span>
				</td>
			</tr>
		</table>
		</center>
		</td></tr></table>		
		</div>
</html>